@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-inter;
  }
}

@layer utilities {

  .info-text {
    @apply text-2xl bg-primary leading-loose;
  }
  

  /* NAVBAR */
  .nav {
    @apply flex justify-end items-center py-40 bg-[#fff] gap-10;
  }

  .footer {
    @apply flex lg:flex-row lg:gap-10  py-24  lg:justify-between flex-col gap-3;
  }
}